
// font size
$font-xxl: 4rem;
$font-xl: 2rem;
$font-l: 1rem;
$font-m: .7rem;

// color
$primary-color: #197278;
$secondary-color: #598392;
$white-color: #fff;
$disabled-color: #8a8a8a;

// margin
$primary-margin: .6rem;
$secondary-margin: .4rem;
$tertiary-margin: .2rem;
