<section *ngIf="!isEndOfGame()">
  <div class="flex-row-space-around">
    <ng-container *ngFor="let player of getPlayersOfTheGame()">
      <label class="player-name" [ngClass]="{'active-player': isActivePLayer(player.id)}">{{player.name}}</label>
    </ng-container>
  </div>

  <div class="flex-row-space-around m-3">
    <div class="game-part m-3 text-center">
      <button class="btn btn-primary" [disabled]="throw == 3" (click)="rollDices()"> lancer les dès</button>
      <div class="dices" *ngIf="throw > 0">
        <ng-container *ngFor="let dice of dices">
          <div class="dice-first-line">
            <label class="dice" [ngClass]="{'dice-lock': dice.lock}" (click)="dice.lock = !dice.lock"> {{dice.value}} </label>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="game-part m-3">
      <div class="flex-center">
        <table class="score-table">
          <thead>
            <th>Figure</th>
            <th>Valeur</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let figure of figurePartI">
              <tr>
                <td>{{figure.name}}</td>
                <td class="flex-center">
                  <input type="number" class="input-score" [value]="figure.value" [disabled]="!figure.available" (keyup)="onChangeFigurePartI(figure, $event)">
                </td>
                <td>
                  <button class="btn btn-secondary" [hidden]="!figure.available" (click)="validateFigureI(figure)">valider</button>
                </td>
              </tr>
            </ng-container>
            <tr class="text-center">
              <td>Total I</td>
              <td>{{this.totalI}}</td>
            </tr>
            <ng-container *ngFor="let figure of figurePartII">
              <tr>
                <td>{{figure.name}}</td>
                <td class="flex-center">
                  <input type="number" class="input-score" [value]="figure.value" [disabled]="!figure.available" (keyup)="onChangeFigurePartII(figure, $event)">
                </td>
                <td>
                  <button class="btn btn-secondary" [hidden]="!figure.available" (click)="validateFigureII(figure)">valider</button>
                </td>
              </tr>
            </ng-container>
            <tr class="text-center">
              <td>Total II</td>
              <td>{{this.totalII}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isEndOfGame()">
  <div class="flex-middle">
    <p class="text-primary text-xl">Fin de la partie</p>
    <ng-container *ngFor="let player of getPlayersOfTheGame()">
      <p> {{player.name}} : {{calculateScore(player)}}</p>
    </ng-container>
  </div>
</section>
