@import "../../../styles/variables.scss";

.game-part {
  width: 100%;
  height: 40rem;
}

.score-table {
  border: 1px solid $secondary-color;
  width: 80%;
}

.input-score {
  width: 80%;
  text-align: center;
}

.player-name {
  font-weight: bold;
}

.active-player {
  text-decoration: underline;
  color: $primary-color;
}
